<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example app</title>
    <!-- Bootstrap v. 4.6 -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/estilos.css" type="text/css" charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>
  <body>
    {{{body}}}
    <!-- Jquery v. 3.6 -->
    <script src="/jquery/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/index.js"></script>
  </body>
</html>