  <div class="my-5">
    <img id="homeLogo" src="/img/logo.png" alt="" />
  </div>
  <div class="my-5">
    <button id="buttonLogin" class="btn btn-info mb-3"><a href="./login">Iniciar Sesion</a></button>
    <button id="buttonReg" class="btn btn-info mb-3"><a href="./registro">Registrarme</a></button>
    <button id="buttonAdmin" class="btn btn-info mb-3"><a href="./admin">Administrador</a></button>
  </div>
</div>