<header>
  <img id="logoHead" src="/img/logo.png" alt="" />
  <h2>Inicio sesion</h2>
</header>
<div class="py-5">
  <hr class="w-50" />

  <form id="formReg">
    <div class="form-group">
      <div class="form-group">
        <label>Email</label>
        <input class="form-control w-50 m-auto" id="emailPass" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control w-50 m-auto" id="pass" />
      </div>
    </div>
    <button id="buttonLogin" type="button" onclick="verify()" class="btn btn-success mb-3">Ingresar</button>
    <p id="loginReg">¿Aun no tienes cuenta? <a href="./registro">Registrate</a></p>
  </form>
</div>