  <h2>Registro</h2>
</header>

<div class="pb-4">
  <hr class="w-50" />

  <form id="formReg" action="/upload" method="POST" enctype="multipart/form-data">
    <div class="form-group row w-50 m-auto">
      <div class="form-group col-12 col-sm-6">
        <label>Email</label>
        <input type="email" class="form-control m-auto" name="email" id="email" required />
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Nombre</label>
        <input class="form-control m-auto" name="nombre" id="nombre" required />
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Password</label>
        <input class="form-control m-auto" type="password" name="password" id="password" required />
        <p class="text-danger"><input class="mx-2" type="checkbox" onclick="showPass()" />Show Password</p>
      </div>
      <div class="form-group col-12 col-sm-6" id="grupoPass">
        <label>Repita el password</label>
        <input class="form-control m-auto" type="password" name="passValidar" id="passValidar" required />
        <p class="passError">Las contrasenas deben ser iguales</p>
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Anos de experiencia</label>
        <input class="form-control m-auto" name="experiencia" id="experiencia" />
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Especialidad</label>
        <input class="form-control m-auto" name="especialidad" id="especialidad" />
      </div>
      <div class="form-group col-12 col-sm-12">
        <label>Foto de perfil</label>
        <input type="file" id="foto" name="foto" required />
      </div>
    </div>

    <button id="buttonLogin" class="btn btn-info mb-3"><a href="./login">Iniciar Sesion</a></button>
    <button id="buttonReg" type="submit" {{! onclick="nuevoSkater()" }} class="btn btn-info mb-3"><a>Registrarme</a></button>
  </form>
</div>